html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
	color:rgb(20,84,140);
}
a:hover{
	color: rgb(20,84,140);
}
a:visited {
	color: rgb(20,84,140);
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
	background-color: rgb(252,239,212);
	color: rgb(20,18,42);
	font-family: helvetica, sans-serif;
	font-size: 18px;
	line-height: 1;
}

header{
		background-color: rgb(61,161,200);
		border: solid rgb(20,18,42) 3px;
		line-height: 30px;
		margin: 0 auto 0 auto;
		padding: 40px;
		text-align: center;
		position: fixed;
		width: 100%;
}
header a{
	text-decoration: none;
}
h1{
	color: rgb(20,84,140);
	font-family: georgia, serif;
	font-size: 3em;
}
h2{
	color: rgb(20,84,140);
	font-family: georgia, serif;
	font-size: 2em;
	margin: 10px;
	padding: 10px;
}
h3{
	color: rgb(20,84,140);
	font-family: georgia, serif;
	font-size: 20px;
	margin: 10px;
	padding: 10px;
}
img {
	border: solid rgb(20,18,42) 2px;
	display: block;
	margin: 0 auto 0 auto;
	max-width: 700px;
	padding: 3px;
	text-align: center;
}
ol, ul {
	color: rgb(61,161,200);
	font-size: 20px;
	line-height: 30px;
	list-style-type: circle;
	margin: 24px;
	padding: 6px;
}
p{
	color: rgb(20,18,42);
	line-height: 2em;
	margin: 12px;
	padding: 6px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.content-list{
color: rgb(20,84,140);;
display: block;
max-width: 250px;
padding-top: 120px;
text-align: left;
margin: 0 auto 0 auto;
}
.content-list a
{
text-decoration: none;
}
.content-list a:hover{
	color:rgb(61,161,200);
}
.content.list a:visited{
	rgb(20,84,140);
}
.content-page{
	display: block;
	text-align: center;
	margin: 0 auto 0 auto;
	max-width: 700px;
	padding: 30px;
}
.content-page a{
	text-decoration: none;
	}
.content-page a:hover{
	color:rgb(61,161,200);
}
.short-list{
	color: rgb(20,84,140);;
	display: block;
	max-width: 150px;
	padding-top: 30px;
	text-align: left;
	margin: 0 auto 0 auto;
}

.definition{
	border: dotted rgb(20,18,42) 2px;
	display: block;
	line-height: 20px;
	margin: 0 auto 0 auto;
	max-width: 700px;
	padding: 18px;
	text-align: center;
}
.header{
	color: rgb(20,18,42);
	line-height: 1em;}

.window{
	border: solid rgb(20,18,42) 5px;
	display: block;
	line-height: 20px;
	margin: 20px 0px;
	max-width: 700px;
	padding: 18px;
	text-align: center;
}


.background-image{
	font-size: 1.5em;
	background: url("flower.png");
}
.background-image p{
	color: rgb(252,239,212);
}

.background-rep {
font-size: 1.5em;
background: url("flower2.png");
background-repeat: repeat-x;
}

.trirong{
	font-family: "Trirong", serif;
}
.indie{
	font-family: 'Indie Flower', cursive;
}
